{{ 'usp-section.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  .background-{{ section.id }}{
    background-color:{{ section.settings.background_color }};
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="usp-container section-{{ section.id }}-padding background-{{ section.id }}">
  <div class="h2 center">{{ section.settings.heading_text }}</div>
{% if section.blocks.size > 0 %}
   <div class="flexbox">
      {% for block in section.blocks %}
        <div class="flexbox-item grid">
          <div class="usp-item center grid--3-col">           
                  {% if block.settings.logo != blank %}
                    <div class="usp-item__logos">
                      {{ block.settings.logo }}
                    </div>
                  {% endif %}
            
                  {% if block.settings.heading_text != blank %}
                    <div class="h6 usp-item__heading--{{ block.id }}">{{ block.settings.heading_text }}</div>
                  {% endif %}
        
                  {% if block.settings.sub_heading_text != blank %}
                    <div class="usp-item__sub-heading text_color">{{ block.settings.sub_heading_text }}</div>
                  {% endif %}
             </div>
        </div>
      {% endfor %}
    </div>  
{% endif %}
</div>





{% schema %}
{
  "name": "USP Section",
  "tag": "section",
  "class": "homepage-section",
  "settings":[
    {
      "type":"text",
      "id":"heading_text",
      "label":"Heading text"    
    },
    {
      "type":"color",
      "id":"background_color",
      "label":"Background color"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 40
    }
  ],
  "blocks": [
    {
      "name": "Usp item",
      "type": "usp-item",
      "settings": [
        {
          "type": "header",
          "content": "LOGO SETTINGS"
        },
        {
          "type": "html",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "header",
          "content": "HEADING SETTINGS"
        },
        {
          "type": "text",
          "id": "heading_text",
          "label": "Heading text",
          "default": "<p>Heading text</p>"
        },
        {
          "type": "header",
          "content": "SUB HEADING SETTINGS"
        },
        {
          "type": "richtext",
          "id": "sub_heading_text",
          "label": "Sub heading text",
          "default": "<p>Sub heading text</p>"
        },
        {
          "type":"color",
          "id":"text_color",
          "label":"Text color"
        }
      ]
    }
  ],
  "max_blocks": 3,
  "presets": [
    {
      "name": "USP Section"
    }
  ]
}
{% endschema %}






 